<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiancang.qcshop.credits.dao.DuibaVirtualConsumeMapper" >
  <resultMap id="BaseResultMap" type="com.qiancang.qcshop.credits.model.DuibaVirtualConsume" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="develop_biz_id" property="developBizId" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="timestamp" property="timestamp" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, app_key, order_num, develop_biz_id, uid, params, timestamp, description, account, 
    create_time, update_time, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from duiba_virtual_consume
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from duiba_virtual_consume
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qiancang.qcshop.credits.model.DuibaVirtualConsume" >
    insert into duiba_virtual_consume (id, app_key, order_num, 
      develop_biz_id, uid, params, 
      timestamp, description, account, 
      create_time, update_time, version
      )
    values (#{id,jdbcType=BIGINT}, #{appKey,jdbcType=VARCHAR}, #{orderNum,jdbcType=VARCHAR}, 
      #{developBizId,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, 
      #{timestamp,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qiancang.qcshop.credits.model.DuibaVirtualConsume" >
    insert into duiba_virtual_consume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appKey != null" >
        app_key,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="developBizId != null" >
        develop_biz_id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="params != null" >
        params,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appKey != null" >
        #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="developBizId != null" >
        #{developBizId,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiancang.qcshop.credits.model.DuibaVirtualConsume" >
    update duiba_virtual_consume
    <set >
      <if test="appKey != null" >
        app_key = #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="developBizId != null" >
        develop_biz_id = #{developBizId,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        timestamp = #{timestamp,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiancang.qcshop.credits.model.DuibaVirtualConsume" >
    update duiba_virtual_consume
    set app_key = #{appKey,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=VARCHAR},
      develop_biz_id = #{developBizId,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      timestamp = #{timestamp,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>